{% extends "base.html" %}

{% block content %}
<form action="words_manage" method="post">
    <table>
        <tr>
            <td>频道号</td>
            <td>子频道号</td>
            <td>机器人数</td>
            <td>HTTP代理</td>
            <td>提交时间</td>
            <td>当前状态</td>
            <td>当前机器人数</td>
            <td>操作</td>
        </tr>
        {% for prod in temp %}
        <tr>
            <td>{{prod.top_sid}}</td>
            <td>{{prod.sub_sid}}</td>
            <td>{{prod.robot_cnt}}</td>
            <td>{{prod.proxy}}</td>
            <td>{{prod.submit_time}}</td>
            <td>{{prod.desc}}</td>
            <td>{{prod.cur_robot_cnt}}</td>
            <td>
                {% csrf_token %}
                <input type="submit" name="remove|{{prod.id}}" value="移除">
            </td>
        </tr>
        {% endfor %}
        {% for prod in avail %}
        <tr>
            <td>{{prod.top_sid}}</td>
            <td>{{prod.sub_sid}}</td>
            <td>{{prod.robot_cnt}}</td>
            <td>{{prod.proxy}}</td>
            <td>{{prod.submit_time}}</td>
            <td>{{prod.desc}}</td>
            <td>{{prod.cur_robot_cnt}}</td>
            <td>
                {% csrf_token %}
                <input type="submit" name="start|{{prod.id}}" value="启动">
                <input type="submit" name="stop|{{prod.id}}" value="停止">
                <input type="submit" name="remove|{{prod.id}}" value="移除">
            </td>
        </tr>
        {% endfor %}
    </table>
</form>
	<p><a href="/accounts/query/">刷新</a></p>

{% endblock %}

